<% title "Matches" %>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for match in @matches %>
    <tr>
      <td><%=h match.name %></td>
      <td><%= link_to "Show", match %></td>
      <td><%= link_to "Edit", edit_match_path(match) %></td>
      <td><%= link_to "Destroy", match, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Match", new_match_path %></p>
